form {
  max-width: 360px;
  margin: 10rem 10rem;
  .error {
   border: 0.3px solid orangered;
  }
  .error-msg {
    color: orangered;
  }
  label {
    display: block;
    margin: 30px auto;
  }
  span {
    display: block;
  }
  input {
    font-size: 1em;
    width: 100%;
    padding: 8px 6px;
    color: #777;
  }
  .btn {
      background-color: aqua;
      color: white;
      border-radius: 5px;
      letter-spacing: 2px;
      cursor: pointer;
      border: none;
      padding: 8px;
      font-weight: bold;
      font-size: 20px;
  }
  
}
// form label {
//     display: block;
//     margin: 30px auto;
// }
// form span {
//     display: block;
// }
// form input {
//     font-size: 1em;
//     width: 100%;
//     padding: 8px 6px;
//     color: #777;
// }
